.container {
  width: 1440px;
  margin: 0 auto;
  padding: 0 80px;
}

.breadcrumbs {
  margin-top: 27px;
  margin-bottom: 50px;
}

.title {
  font-family: "Sansation", sans-serif;
  font-size: 28px;
  font-weight: 400;
  line-height: 1.12;

  margin-bottom: 50px;
}

/* =========================================================card styles============ */
.caruselWrap {
  display: flex;
  flex-wrap: wrap;
  column-gap: 20px;
  row-gap: 50px;
}

.card {
  width: calc((100% - 60px) / 4);

  padding: 12px;
  border-radius: 30px;
  border: 1px solid var(--black);
  background: var(--white);

  display: flex;
  flex-direction: column;
  gap: 22px;

  line-height: 1.22;
}

.imageWrap {
  position: relative;
}

.addToFavourites {
  display: flex;
  align-items: center;
  justify-content: center;

  position: absolute;
  bottom: -17px;
  right: -7px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: var(--yellow);
  cursor: pointer;
}

.cardBottom {
  display: flex;
  justify-content: space-between;
}

.btnWrap {
  width: 112px;
}

.moreBtn {
  color: var(--grey);
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.22;
  text-decoration-line: underline;

  background-color: transparent;
  border: none;
  outline: none;
}

.discontSection {
  background-color: var(--light-yellow);
  padding: 50px 0 69px 0;
}

.categoryTop {
  padding-bottom: 80px;
}

.categoryBottom {
  padding: 80px 0;
}
