.card {
  position: relative;
  /* width: calc((100% - 60px) / 4); */
  padding: 12px;
  border-radius: 30px;
  border: 1px solid var(--black);
  background: var(--white);

  display: flex;
  flex-direction: column;
  gap: 22px;

  line-height: 1.22;
}

.imageWrap {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--light-grey);
  border: 1px solid var(--light-grey);
  border-radius: 17px;
  overflow: hidden;
  height: 280px;
}

.addToFavourites {
  display: flex;
  align-items: center;
  justify-content: center;

  position: absolute;
  top: 249px;
  right: 5px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: var(--yellow);
  cursor: pointer;
}

.description {
  flex-grow: 1;
}

.salePrice {
  color: var(--grey);
  text-decoration: line-through;
  margin-left: 12px;
  display: inline-block;
}

.cardBottom {
  display: flex;
  justify-content: space-between;
}

.btnWrap {
  width: 112px;
}

.moreBtn {
  color: var(--grey);
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.22;
  text-decoration-line: underline;

  background-color: transparent;
  border: none;
  outline: none;
}
