.inputWrapper {
  display: flex;
  flex-wrap: wrap;
  column-gap: 21px;
  row-gap: 50px;
  margin-bottom: 80px;
}

.label {
  width: calc((100% - 21px) / 2);

  font-size: 28px;
  line-height: 1.225;

  display: flex;
  flex-direction: column;
  gap: 25px;
}

.input {
  height: 79px;
  width: 100%;
  padding: 10px 23px;

  border-radius: 20px;
  border: 1px solid var(--black);

  font-size: 28px;
  line-height: 1.225;
}

.btnWrapper {
  width: 414px;
  height: 79px;
  margin: 0 auto;
}
