.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container {
  display: flex;
  align-items: center;
  width: 1440px;
  padding: 30px 80px 23px;
  margin: 0 auto;
}

.searchName {
  margin-left: 21px;
  display: flex;
  gap: 15px;
  width: 552px;
  border-radius: 30px;
  padding: 6px 6px 6px 23px;
  border: 1px solid var(--black, #000);
}

.selectInput {
  width: 100%;
}

.btnWrap {
  width: 112px;
}

.navigateList {
  display: flex;
}
