.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* =========================header=============== */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;

  width: 1440px;
  padding: 30px 80px 23px;
  margin: 0 auto;
}

.logoWrapper {
  display: flex;
  gap: 21px;

  width: calc((100% - 30px) / 2);
}

.logo {
  align-self: center;

  font-family: "Sansation", sans-serif;
  font-size: 32px;
  font-weight: 700;
  line-height: 1.125;

  transition: color var(--transition);
}

.logo:hover {
  color: var(--yellow);
}

.navigateList {
  display: flex;
  align-items: center;

  line-height: 1.22;
}

.navigateList li {
  transition: color var(--transition);
}

.navigateList li:hover {
  color: var(--yellow);
}

.icon {
  fill: currentColor;
  margin-left: 50px;
}

/* ===================main================ */

.main {
  flex-grow: 1;
}

/* ====================footer=============== */

.footer {
  background-color: var(--light-yellow);
  padding: 25px 0;
}

.footerInner {
  width: 1140px;
  margin: 0 auto;
  padding: 0 80px;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.footerInner p {
  line-height: 1.22;
}

.footerInner ul {
  display: flex;
  gap: 15px;
}

.footerInner li {
  transition: color var(--transition);
}

.footerInner li:hover {
  color: var(--yellow);
}
